body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgblur {
  backdrop-filter: blur(10px);
}

.anchor {
  height: 0;
  position: relative;
  top: -80px; // Shift up due to the pos
}
