body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  overflow-x: hidden;
}
.bgblur {
  backdrop-filter: blur(10px);
}

.anchor {
  height: 0;
  position: relative;
  top: -80px; // Shift up due to the pos
}

#navbar {
  width: 100%;
}

.lightboxImg {
  position: fixed;
  // top: 50vh;
  // left: 50vw;
  // transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.25rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
  text-decoration: underline;
}
h2 {
  font-size: 3.5rem;
  text-decoration: underline;
}
h3 {
  font-size: 2.5rem;
}
