$bottleheight: 400px;
$containerheight: 300px;
$gridgad: 130px;

.waveBg {
  background: url(../media/img/wave.svg) bottom center;
  background-size: cover;
}

.wineHeaderText {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.25rem;
}
.wineOverview {
  max-width: 1200px;
}
#wineList {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  row-gap: $gridgad;
}
%wineContainer {
  position: relative;
  width: 100vw;
  height: $containerheight;
  overflow-y: visible;
}
.dimmed {
  opacity: 0.4;
  transition: opacity 0.5s;
  backdrop-filter: blur(5px);
}

.notdimmed {
  opacity: 1;
  transition: opacity 0.5s;
  backdrop-filter: blur(5px);
}

.grow {
  transform: scale(1.1) 0.5s;
}
.ungrow {
  transform: scale(1) 0.5s;
}

.wineRightContainer {
  @extend %wineContainer;
  left: 10vw;
  justify-self: start;
}
.wineLeftContainer {
  @extend %wineContainer;
  direction: rtl;
  right: 10vw;
}

.winePicture {
  position: absolute;
  top: 0;
  bottom: 0;
  height: $bottleheight;
  margin: auto;
}

.wineContent {
  position: absolute;
  // height: $bottleheight;
  height: $containerheight - 10px;
  direction: ltr;
}

// .wineRightContent {
//   @extend %wineContent;
//   left: 75px;
//   // left: calc(-20px + 20vw);
// }

// .wineLeftContent {
//   @extend %wineContent;
//   text-align: right;

//   right: 100px;
//   // right: calc(-20px + 20vw);
//   // margin-right: 8vw;
// }
